*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: rgba(219, 219, 211, 1);
   position: relative;
}

.container{
    max-width: 1200px;
    height: 80vh;
    margin: auto;
    background-color: white;
    display: flex;
   
}
.container_profili{
    height: 100%;
    width: 500px;
    background-color: white;
    border-right: 1px solid lightgray;
   
}
.bar_profilo{
    display: flex;
    align-items: center;
    width: 100%;
   
   background-color: rgba(234, 234, 234, 1);
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}
.left_profilo{
    display: flex;
    align-items: center;
}
.bar_profilo img{
    border-radius: 100%;
    width: 50px;
    margin-right: .5rem;
}
.icon_bar_profilo{
    font-size: 20px;
    color: rgba(177, 177, 177, 1);
   
}
.icon_bar_profilo i{
    margin-right: .5rem;
}
.notifiche{
    width: 100%;
    padding: .8rem;
    background-color: rgba(142, 218, 252, 1);
    display: flex;
    align-items: center;
}
.icon_notifica{
    border-radius: 100%;
    background-color: white;
    padding: 1rem;
    font-size: 20px;
    color:  rgba(142, 218, 252, 1);
    margin-right: .5rem;
}
.notifica_desk{
    font-size: 12px;
    color: rgba(111, 159, 200, 1);
}
.cerca_chat {
    width: 100%;
    background-color: rgba(234, 234, 234, 1);
    padding: .5rem;
    display: flex;
    
    align-items: center;
}
.input_cerca{
    width: 100%;
    padding: .5rem;
    border: none;
}
.cerca_chat > div{
    
    background-color: white;
    padding: .5rem;
    border-right:1px solid gray gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.anteprima_chat_utente{
    overflow: auto;
    height: 400px;
}
.chat_left_utente{
    width: 100%;
    border-bottom: 1px solid rgba(245, 245, 245, 1);
    padding: .5rem;
    display: flex;
    align-items: center;
}
.chat_left_utente:hover{
    background-color: rgba(233, 235, 235, 1);
}
.container_chat{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.chat_left_utente img{
    width: 50px;
    border-radius: 100%;
    margin-right: .5rem;
   
}
.bar_chat_principale img{
    width: 50px;
    border-radius: 100%;
    margin-right: .5rem;
    
}
.bar_chat_principale{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    background-color: rgba(234, 234, 234, 1);
}
.left_chat_principale{
    display: flex;
    align-items: center;
}